<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmar</title>
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Confirmar resgate</h2>

        <p><strong>Cliente:</strong> <span th:text="${resgate.cliente.nome}"></span></p>
        <p><strong>Recompensa:</strong> <span th:text="${resgate.recompensa.nome}"></span></p>

        <form th:action="@{'/validar/' + ${token} + '/confirmar'}" method="post">
            <button class="btn-success" type="submit">
                Confirmar uso
            </button>
        </form>
    </div>
</div>

</body>
</html>
