<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QR</title>
    <link rel="stylesheet" th:href="@{/css/mobile.css}">
</head>
<body>

<div class="container">
    <div class="card text-center">
        <h2 th:text="${titulo}">Erro</h2>
        <p class="muted" th:text="${mensagem}">Mensagem</p>

        <a href="/admin/painel"
           class="btn-primary"
           style="display:block; padding:16px; border-radius:14px; margin-top:16px;">
            Voltar ao painel
        </a>
    </div>
</div>

</body>
</html>
